.first{
  background-color: aqua;
  height: 100px;
  width: 100px;
  border-width:5px;
  border:solid;
  padding:20px;
}
.second{
    background-color:blueviolet;
    height: 100px;
    width: 100px;
    border-width:5px;
    border:solid;
    padding:20px;
}
.third{
    background-color:deeppink;
    height: 100px;
    width: 100px;
    border-width:5px;
    border:solid;
    padding:20px;
}